/**
 * Based CSS
 *
 * Included 
 *
 * @author   Anton Shevchuk
 * @created  06.07.11 16:20
 */

html,body,
div,pre,code,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,legend,input,button,textarea,
p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

hr {
    border: 0;
    height: 1px;
	clear:both;
    background:#777;
	margin-bottom: 1em;
}
h1,h2,h3,h4,h5,h6 {clear:both;}

pre {
    margin: 8px;
    padding: 8px;
    font-size:1.2em;
    line-height:1.4em;
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background: #f5f5f5;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

blockquote{ padding-left:6px }
del { text-decoration: line-through; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	color:#bb1111;
	font-weight: 700;
	text-align: center;
	padding: 4px 8px;
}

a {
    outline:none;
    text-decoration:none;
	color: #339900;
}
a img {
	border: none;
}
p {
	line-height: 1.66em;
	margin: 20px 0 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left { float:left }
.right { float:right }
.clear { clear:both }
.empty { height:0 }

.textleft { text-align:left }
.textright { text-align:right }
.textcenter { text-align:center }

article, aside, header, footer, section {
    display:block;
}

/*Main*/
html ,
body {
	height: 100%;
	line-height: 25px;
	background-color: #D4D6D7;
	background-image: radial-gradient(ellipse closest-side at center 300px , #FFFFFF, #F2F3F4 200px, #D2D4D5 700px);
	background-position: center 0px, center center;
    background-repeat: no-repeat;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding: 80px 0;
}


footer {
	height: 80px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;	
	/* background: none repeat scroll 0 0 #2C2C2C; *//*  134C96 bh blue*/	
	background-color: #222222; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */	
	background-image: -moz-linear-gradient(top, #373D3F, #222222);
  	background-image: -ms-linear-gradient(top, #373D3F, #222222);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373D3F), to(#222222));
  	background-image: -webkit-linear-gradient(top, #373D3F, #222222);
  	background-image: -o-linear-gradient(top, #373D3F, #222222);
  	background-image: linear-gradient(top, #373D3F, #222222);
	background-image: -o-linear-gradient(top, #373D3F 0%,#222222 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373D3F', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #373D3F 0%,#222222 100%); /*  W3C */	
	vertical-align: middle;
	font-size: 0.75em;
	/* padding: 20px 0; */
}

footer nav {
    border-bottom: 1px solid #373D3F;
    border-right: 0 none;
    border-top: 1px solid #373D3F;
	margin-top: 25px;
	float: left;
}
footer nav li {
    /* background-color: #F5FAFA; 
    border-right: 1px solid #DCDFE2;*/
	font-family: "OpenSansCondBold", Helvetica, Arial, sans-serif;
    display: block;
    float: left;
    line-height: 22px;
    margin: 0;
    text-align: center;
}
footer nav li a {
    /* border-right: 1px solid #FFFFFF; */
    color: #888888;
    cursor: pointer;
    display: block;
    font-size: 11px;
    padding: 0 14px;
    text-decoration: none;
	letter-spacing: 0.1em;
}
footer nav li a span {
    display: block;
}
footer nav li:hover a {
    /* background-color: #F5FAFA; */
    color: #4DA400;
}
footer nav li.active a {
    /* background-color: #4DA400; 
    border-left: 1px solid #FFFFFF;*/
    color: #4DA400;
}
footer p#developed {
	color: #888888;
    float: right;
    position: relative;
	text-align: right;
	line-height: 16px;
	font-size: 0.9em;
	font-family: "OpenSansCondLight", Helvetica, Arial, sans-serif;
	margin-top: 20px;
}

footer p#developed b {
	font-family: "OpenSansCondLightItalic", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
}

.language {
	float: right; 
	padding: 10px 0px;
}
.language span {
	font-family: "OpenSansCondBold", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	padding-rithg: 7px;
}

.navbar a.brand {
	background: url(/images/zf-logo-small.png) no-repeat scroll 0 20px transparent;
	font-weight: 600;
	display: block;
	font-size: 24px;
	padding: 33px 80px 17px 65px;;
}

article {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	margin:1.625em 0;
	padding: 1.625em;
}
	article .content {
		padding: 1em 0;
	}

/* Fonts */
@font-face {
 font-family: OpenSansCondLightItalic;
 src: url("/fonts/OpenSans-CondLightItalic.eot") /* EOT file for IE */
}
@font-face {
 font-family: OpenSansCondLightItalic;
 src: url("/fonts/OpenSans-CondLightItalic.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: OpenSansCondLight;
 src: url("/fonts/OpenSans-CondLight.eot") /* EOT file for IE */
}
@font-face {
 font-family: OpenSansCondLight;
 src: url("/fonts/OpenSans-CondLight.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: OpenSansCondBold;
 src: url("/fonts/OpenSans-CondBold.eot") /* EOT file for IE */
}
@font-face {
 font-family: OpenSansCondBold;
 src: url("/fonts/OpenSans-CondBold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: Proxima-Nova-Light;
 src: url("/fonts/ProximaNova-Light.otf") /* OTF file for CSS3 browsers */
}

/* Locale flags */
/* #country_select div.countries label span {
    background-image: url("/images/flags_iso_24_sprite.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: -5px 5px 0 0;
    position: relative;
    text-indent: -9999px;
}
.flags_iso_24_sr {
    background-position: -144px -672px;
    height: 24px;
    width: 24px;
} */

/*/Main*/
/*Messages*/
#messages {
    padding:0;
    z-index:999;
    font-weight:700;
    font-size:1.6em;
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#95fffcc0, endColorstr=#95fffcc0);
}
    #messages p {
        width:1024px;
        margin:10px auto;
        font-size: 14px;
        line-height: 16px;
    }
    #messages p.error {
        color: #b94a48;
    }
    #messages p.info {
        color: #3a87ad;
    }
    #messages p.success {
        color: #468847;
    }
/*/Messages*/
/* Loading */
#loading {
	width: 180px;
	height: 40px;
	float:right;
	background: url("../../img/loading.gif") 50% 50% no-repeat;
	display: none;
}
/*/Loading */
/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}
/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}
/*bootstrap patch*/
div.pull-right .dropdown-menu {
	left:0
}
.well .pagination a{
	background: #fff;
}

.thumbnail {
	width: 80px;
	height: 80px;
	background: #fff;
}
/*/bootstrap patch*/